body, html {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  /* width: max-content; */
}

#theModal {
  background-color: red;
  color: white;
}

#modalsHeader {
  border-bottom: none;
  margin-bottom: 3rem;
}

#remove {
  display: none;
}

#removeBack {
  display: none;
}

#bus {
  display: flex;
  flex-wrap: wrap;
}

#p1, #p2 {
  width: 50%;
  text-align: center;
}

#important {
  width: 100%;
  text-align: center;
  background-color: red;
  display: none;
}

#modalH1 {
  font-size: 6rem;
}

#modalH4 {
  font-size: 2rem;
}

.box {
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: 10rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.settings {
  margin: 0 0 1rem 2px;
}

.headerModal {
  width: 100%;
  text-align: center;
}

.modal-content {
  background-color: red;
  color: white;
  height: 20rem;
}

.modal-lg {
  max-width: 60%;
}

.kortti {
  margin-top: 8rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.card-header {
  background-color: initial;
  border-bottom: none;
  padding-bottom: .25rem;
}

.card-body {
  padding-top: .25rem;
}

.card {
  border-radius: 3rem;
}