body, html {
  width: 100%;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  margin: 0;
  /* width: max-content; */
}

#theModal {
  background-color: red;
  color: white;
}

#displayFlex {
  display: flex;
}

#modalsHeader {
  border-bottom: none;
  margin-bottom: 3rem;
}

#remove {
  display: none;
}

#removeBack {
  display: none;
}

#p1, #p2 {
  width: 50%;
  text-align: center;
}

#important {
  width: 100%;
  max-height: 38px;
  text-align: center;
  display: none;
  overflow: hidden;
  margin: 0;
}

#NavImp {
  background-color: red;
}

#modalH1 {
  font-size: 6rem;
}

#modalH4 {
  font-size: 1.6rem;
  overflow: hidden;
  max-height: 6rem;
  margin: 0;
}

#red {
  overflow: initial;
  height: 110px;
  max-height: 110px;
}

#palo {
  overflow: initial;
  height: 105px;
  max-height: 105px;
  width: 420px;
}

#root {
  width: 100%;
  height: 100%;
}

#hslDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#iframe {
  width: 90%;
  height: 90%;
}

.box {
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: 10rem;
}

.half {
  width: 38%;
  margin: 2rem 5rem 0 5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.settings {
  margin: 0 0 1rem 2px;
}

.headerModal {
  width: 100%;
  text-align: center;
}

.modal-content {
  background-color: red;
  color: white;
  height: 20rem;
}

.modal-lg {
  max-width: 60%;
}

.kortti {
  margin-top: 8rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.settingsKortti {
  margin-top: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.card-header {
  background-color: initial;
  border-bottom: none;
  padding-bottom: .25rem;
}

.card-body {
  padding-top: .25rem;
}

.card {
  border-radius: 3rem;
}

.btn {
  margin: 0 .5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.scroll {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.scroll h2 {
  display: inline-block;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0%   { transform: translate(80%, 0); }
  100% { transform: translate(-80%, 0); }
}